#tree {
    margin-left: 50px;
    float:left;
    clear:right;
}

#inputs {
    float:left;
    clear:left;
}

.binaryOperand {
    background:lightblue;
    display: inline-block;
    padding: 5px;
    border-radius: 12px;
    border: 1px solid black;
    margin: 10px;
}

.binaryOperator {
    background:lightcyan;
    display: inline-block;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid black;
    margin: 10px;
}
.unaryOperand {
    background:lightpink;
    display: inline-block;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
    margin: 10px;
}

.unaryOperator {
    background:lightsalmon;
    display: inline-block;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 10px;
